<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WorkSpaceSetUp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WorkSpaceSetUp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
		<WorkSpaceSetUp.Properties.Settings>
            <setting name="FileGroupAmount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="FileGroupDataAmount" serializeAs="String">
                <value>10</value>
            </setting>
        </WorkSpaceSetUp.Properties.Settings>
    </applicationSettings>
    <userSettings>
		<WorkSpaceSetUp.Properties.Settings>
            <setting name="SaveFileName" serializeAs="String">
                <value>JsonSave</value>
            </setting>
        </WorkSpaceSetUp.Properties.Settings>
    </userSettings>
</configuration>